body {
  background: #fcf0e5;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2,
h3 {
  font-weight: 500;
}

.main-container {
  margin: 50px;
}

.title {
  color: #ff888b;
  padding-left: 8px;
}

.sub-title {
  color: #4b5661;
  padding-right: 8px;
}

.container {
  margin-bottom: 2rem;
}
